body {
  text-align: center;
  background-color: #b3bace;
  color: rgb(180, 69, 69);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  font-size: 150%;
}

.nav-link {
  list-style: none;
  display: flex;
  flex-direction: row-reverse
}

li {
  padding: 5px;
 /* margin-left: 5px;*/
}

.form-group {
  width: 50%;
  margin: auto;
}
